body 
{
	margin: 0;
	padding: 0;
	background: #1d1d1d;
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 100%;
}

h2 	
{ 
	color: #999;
	margin-bottom: 0; 
	margin-left:13px;
	height:40px;
}

h2 span
{
	display: none;
}

p	
{ 
	color: #ffff66; 
	margin-top: .5em;
	font-size: .75em;
	padding-left:15px;	
}

#navigation-block {
	position:relative;
	top:0px;
	left:20px;
}

#hide {
	position:absolute;
	top:30px;
	left:-190px;
}

ul#sliding-navigation
{
	list-style: none;
	font-size: .75em;
	margin: 30px 0;
	padding: 0;
}

ul#sliding-navigation li.sliding-element h3,
ul#sliding-navigation li.sliding-element a
{
	display: block;
	width: auto;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond,
		Times, serif;
	letter-spacing: 0.1em;
	text-transform: lowercase;
	font-size: 20pt;
	font-variant: small-caps;
	padding: 5px 18px;
	margin: 0;
	margin-bottom: 5px;
}

ul#sliding-navigation li.sliding-element h1
{
	display: block;
	width: auto;
	text-align:center;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond,
		Times, serif;
	letter-spacing: 0.1em;
	text-transform: lowercase;
	font-size: 30pt;
	font-variant: small-caps;
	padding: 5px 18px;
	margin: 0;
	margin-bottom: 5px;
}

ul#sliding-navigation li.sliding-element h3,h1
{
	color: #fff;
	background:#333 url(heading_bg.jpg) repeat-y;
	font-weight: normal;
}

ul#sliding-navigation li.sliding-element a
{
	color: #999;
	background:#222 url(tab_bg.jpg) repeat-y;
	border: 1px solid #1a1a1a;
	text-decoration: none;
}

ul#sliding-navigation li.sliding-element a:hover { color: #ffff66; }

 #error {
            margin: 1em 0;
            color: #f00;
            font-weight: bold;
        }
        footer {
            margin-top: 5em;
        }
        
 .nextstop {
        background-color: #101010;
        color: #ffffff;
        width: auto;
        height: auto;
        margin: auto;
}

.info {
        color: #424242;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond,
                Times, serif;
        letter-spacing: 0.1em;
        margin: 20px auto;
        text-transform: lowercase;
        font-size: 20pt;
        font-variant: small-caps;
}

#list2 {
        width: 320px;
}

#list2 ol {
        font-style: italic;
        font-family: Georgia, Times, serif;
        font-size: 24px;
        margin-left: 10px;
        color: #a4c6cf; /*number*/
}

#list2 ol li {
        
}

#list2 ol li p {
        padding: 8px;
        font-style: normal;
        font-family: Arial;
        font-size: 20px;
        color: #ffffff; /* description */
        border-left: 1px solid #c6b7ad;
}

#list2 ol li p em {
        display: block;
}

 #map_canvas{
width:500px;
height:500px;
margin-bottom:10px;
}